<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="file-row col-md-12 row chipFile" ng-repeat="chip in chipsModel.chips track by $index">
                    <div  class="col-md-2">
                        <p class="name">{{chip.fileName}}</p>
                    </div>
                    <div class="col-md-3 sedButtons">
                        <button ng-disabled="chip.compileError" ng-show="chipsModel.getSimulatedChipIndex() !== $index" class="btn btn-primary" ng-click="chipsModel.setSimulatedChipIndex($index)">
                            <i class="fa fa-cogs"></i>
                            <span>Simulate </span>
                        </button>
                        <button ng-show="chipsModel.getSimulatedChipIndex() === $index" class="btn btn-success" ui-sref="main.simulator">
                            <i class="fa fa-arrow-right"></i>
                            <span>Simulator</span>
                        </button>
                        <button class="btn btn-warning" ui-sref="main.editor">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>Edit</span>
                        </button>
                        <button class="btn btn-danger" ng-click="chipsModel.deleteChip($index)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete</span>
                        </button>
                    </div>
                    <div ng-show="!chip.compileError && !chip.simulatedChip" class="col-md-5 progressBars">
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success" style="width:{{chip.progress}}%;"></div>
                        </div>
                    </div>
                    <div ng-show="!chip.compileError && chip.simulatedChip" class="statusIcon">
                        <img src="/Simulator/images/check.png" alt="">
                    </div>
                    <div ng-show="chip.compileError" class="statusIcon">
                        <img src="/Simulator/images/stop.png" alt="">
                        <div class="compileErrorMessage">
                            <span>Compile error on row {{chip.compileError.row}}: {{chip.compileError.message}}</span>
                        </div>
                    </div>
                    <div ng-show="chipsModel.getSimulatedChipIndex() === $index" class="col-md-12">
                        <h4>Chip consists of the following parts:</h4>
                        <ul class="list-group col-md-3">
                            <li class="list-group-item partItem" ng-repeat="part in chip.simulatedChip.parts">
                                <span>{{part.name}}</span>
                                <div class="btn-group floatRight">
                                    <label class="btn btn-primary" ng-model="part.builtIn" uib-btn-radio="true">BuiltIn</label>
                                    <label class="btn btn-primary" ng-model="part.builtIn" uib-btn-radio="false">My</label>
                                </div>
                            </li>
                        </ul>
                        
                        <!--
                        <button class="btn btn-info buttonRecompile">
                            <i class="fa fa-refresh"></i>
                            <span>Recompile</span>
                        </button>
                        -->
                    </div>
                </div>
                <div class="col-md-12">
                    <span class="btn btn-success btn-file">
                        <div ng-file-reader on-readed="onReadedFile( event, file )" read-method="'readAsText'" accept=".hdl" multiple></div>
                        <i class="glyphicon glyphicon-plus"></i>
                        Load chips
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

