/* app css stylesheet */

body{
    background-color: #DADADA !important;
    padding-top: 70px;
    margin-bottom: 60px !important;
}

.handCursor{
    cursor: pointer;
}

.normalCursor{
    cursor: default;
}

.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.gridster-preview-holder {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: black !important;
    border-color: black !important;
    opacity: 0.2 !important;
}

.footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
}

#footerText {
    margin: 5px 0;
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.errorLabel{
    color: #a94442;
}

.navbar-header{
    padding-left: 8px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.monospace{
    font-family: monospace;
    white-space: pre;
}

.gridsterContent{
    width: 100%;
    height: 100%;
}

.gridsterHeading{
    position: relative;
    -webkit-border-top-left-radius: 5px  !important;
    -webkit-border-top-right-radius: 5px  !important;
    -moz-border-radius-topleft: 5px  !important;
    -moz-border-radius-topright: 5px  !important;
    border-top-left-radius: 5px  !important;
    border-top-right-radius: 5px  !important;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    height: 40px;
}

.gridsterContentEnvelope{
    overflow: auto;
    width: 100%;
    height:calc(100% - 40px);
}

.moveIcon{
    float: right;
    cursor: move;
    margin-right: 10px;
    margin-top: 1px;
}

.rowNumbers{
    width: 30px;
    float: left;
    min-height: 100%;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    color: #555;
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 10px;
}

.HDLgrid{
    float: left;
    width: calc(100% - 30px);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.codeRow{
    margin: 0px;
    padding-left: 10px;
    min-width: 900px;
}

.codeRow:hover{
    background-color: #e7e7e7;
}

.rowNumbers span{
    display: block;
    text-align: right;
}

.rowNumbers span.hovered{
    background-color: #e7e7e7;
}

.keywords{
    font-weight: bold;
}

.comment{
    color: #7E7E82;
}

.compileError{
    background-color: rgba(255, 0, 0, 0.63);
}

.popover-content{
    white-space: pre-wrap;
}

.gridster-item .handle-e{
    width: 8px;
    right: -6px;
}

.gridster-item .handle-w{
    width: 8px;
    left: -6px;
}

.gridster-item .handle-s{
    height: 8px;
    bottom: -6px;
}

.gridster-item .handle-n{
    height: 8px;
    top: -6px;
}

.myFormGroup{
    white-space: nowrap;
}

.myFormGroup .labels{
    float: left;
    display: inline-block;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
}

.myFormGroup .inputs{
    overflow: hidden;
    margin-right: 10px;
    padding-bottom: 10px;
}

.myFormGroup .inputs input{
    height: 32px;
    /* margin-bottom: 10px; */
}

.myFormGroup .labels label{
    display: block;
    margin-bottom: 23px;
    margin-top: 0px;
}

.floatRight{
    float: right;
}

.table-nonfluid {
    width: auto !important;
    white-space: nowrap;
}

input[type=number]{
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.bold{
    font-weight: bold;
}

td span.myLabel{
    padding-top: 4px;
}

.pinHovered{
    background-color: #ff0;
}

.partNameHovered{
    background-color: #a94442 !important;
    cursor: pointer;
}

.gridHeadHovered{
    background-color: #a94442 !important;
    border-color: #a94442 !important;
}

.closeIcon{
    float: right;
    margin-top: -10px;
    margin-right: -15px;
    width: 30px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    border-top-right-radius: 3px;
    cursor: pointer;
}

.closeIcon:hover{
    background-color: rgba(0,0,0,0.5);
}

.panel-primary.ng-enter,
.panel-primary.ng-leave {
    -webkit-transition:0.5s linear all !important;
    transition:0.5s linear all !important;
}

.panel-primary.ng-enter,
.panel-primary.ng-leave.ng-leave-active {
    opacity:0 !important;
}
.panel-primary.ng-leave,
.panel-primary.ng-enter.ng-enter-active { 
    opacity:1 !important;
}

.displayButtons button{
    margin-right: 2px;
}

.navbar{
    margin-bottom: 10px;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1.0);
    }
    50% {
        -webkit-transform: scale(1.2);
    }
    to { 
        -webkit-transform: scale(1.0);
    }
}

.pulse {
    -webkit-animation-name: pulse; 
    -webkit-animation-duration: 0.5s; 
    -webkit-animation-iteration-count: 1;
}

.button10{
    cursor: pointer;
    background-color: #337ab7;
    color: white;
    border-right-width: 0;
}

.button10:hover{
    opacity: 0.8;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-success{
    background-color: #5cb85c !important;
}

.label-danger{
    background-color: #d9534f !important;
}

.inputs input,.outputs input{
    border-left-width: 0;
    color: white;
}

.normalCursor{
    cursor: default;
}